Worker Name: {{worker.firstname}} {{worker.lastname}} </br>
Workout: {{workout.name}} </br>
Exercise Name: {{exercise.name}} </br>
Muscle Name: {{muscle.name}} </br>
Weight: {{exerciseProgressByWorkout.weight}} </br>
Repeats: {{exerciseProgressByWorkout.repeats}} </br>
Sets: {{exerciseProgressByWorkout.sets}} </br>